.group-form {
	padding: 20px;
	@include gab-container-standards();
	.group-form__file-label {
		font-size: 13px;
		color: $secondary-text-color;
		cursor: pointer;
		&:hover {color: $primary-text-color;}
		.fa {
			font-size: 18px;
			margin-right: 5px;
			transform: translatey(2px);
		}
		&.group-form__file-label--selected {color: $primary-text-color;}
	}
	.group-form__file {
		width: 1px;
		height: 1px;
		overflow: hidden;
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}
	button {float: right;}
}