# CODEOWNERS for gab-ai-inc/gab-social

# Translators

All previously-credited contributors to Mastodon's translations efforts have
been removed in order to prevent confusion and unintended association with the
Gab Social fork of Mastodon.
