// A lot of this stuff is temporary for now.
// Content containers are meant to behave much differently than the mastodon default UI
// For now linking default gab colors to replace the base UI colors and formulas

html {
  scrollbar-color: lighten($gab-background-container, 4%) $gab-background-container;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: lighten($gab-background-container, 4%);
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten($gab-background-container, 6%);
}

::-webkit-scrollbar-thumb:active {
  background: lighten($gab-background-container, 4%);
}

::-webkit-scrollbar-track {
  border: none;
  background: $gab-background-container;
}

::-webkit-scrollbar-track:hover {
  background: lighten($gab-background-container, 4%);
}

::-webkit-scrollbar-track:active {
  background: $gab-background-container;
}

::-webkit-scrollbar-corner {
  background: transparent;
}